<!DOCTYPE html>
<html data-ng-app="formSubmit">
<head>
	<title>Product page</title>
	<style>
		.lable {
			color: #d00000;
			font-size: 24px;
			font-weight: bold;			
		}
	</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('formSubmit', []);
	
	app.controller('FormSubmitController',[ '$scope', '$http', function($scope, $http) {
			
		$scope.list = [];
			$scope.headerText = 'MSG page';
			
			$scope.submit1 = function() {
				var formData = {
					//"localeId" : 1
					"object":1,"actionSource":0
				};
				var response = $http.post('http://localhost:8080/anycapital/message/getMessageResourcesByLocaleId', formData);
				response.success(function(data, status, headers, config) {
					$scope.list.push(data);
					alert(data);					
				});
				response.error(function(data, status, headers, config) {
					alert( "Exception details: " + JSON.stringify({data: data}));
				});				
			};
			
			
		}]);
</script>
</head>
<body>
	<form data-ng-submit="submit1()" data-ng-controller="FormSubmitController">		
		<input type="submit" id="submit" value="Submit1" /><br>	
		<h4>You submitted below data through post:</h4>
		<pre>Form data ={{list}}</pre>
	</form>	
</body>
</html>