<div class="confirm-popup-message">


<label> {{getMsgs('bid')}}: <input type="text" name="bid" required ng-model="bid"> </label>
<label> {{getMsgs('ask')}}: <input type="text" name="ask" required ng-model="ask"> </label>

</div>

<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close()">close </button>
	<button class="button blue" ng-click="updateAskBid();$close();">update</button>
</div>


