<div class="confirm-popup-message">
     {{getMsgs('cancel-transaction-verification')}}
</div>
<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close()">{{getMsgs('no')}} </button>
	<button class="button blue" ng-click="cancelTransaction();$close();">{{getMsgs('yes')}}</button>
</div>