<div class="confirm-popup-message">
	<label> {{getMsgs('pending-popup-message')}} </label>
</div>
<div class="confirm-popup-footer">
	<button class="button blue" ng-click="approve();$close();">approve</button>
	<button class="button blue" ng-click="notApprove();$close();">not-approve</button>
	<button class="button blue" ng-click="$close()">close </button>
</div>


