<div class="confirm-popup-message">
     {{getMsgs('quest-status-verification')}}
</div>
<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close()">{{getMsgs('no')}} </button>
	<button class="button blue" ng-click="updateQuestStatus();$close();">{{getMsgs('yes')}}</button>
</div>