<div class="single-select-header-holder" ng-class="{open: singleSelect.visible}" ng-attr-tabindex="{{ngDisabled ? '' : 0}}">
	<div class="single-select-header" ng-click="toggleOpen()">
		<span class="single-select-selected-option" ng-if="singleSelect.model">
			<img ng-if="singleSelect.iconCallback && singleSelect.iconCallback(singleSelect.model)" ng-src="{{singleSelect.iconCallback(singleSelect.model)}}"/>
			<span ng-if="!(singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || singleSelect.model == singleSelect.aggregateOption))" title="{{singleSelect.model.name}}">{{singleSelect.model.name}}</span>
			<span ng-if="singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || singleSelect.model == singleSelect.aggregateOption)" title="{{singleSelect.mutateCallback(model.name)}}">{{singleSelect.mutateCallback(singleSelect.model.name)}}</span>
		</span>
		<span class="single-select-selected-option" ng-if="!singleSelect.model">
			<span>&nbsp;</span>
		</span>
		<span class="single-select-drop-arrow"></span>
	</div>
</div>

<div data-options-box class="single-select-options-box" ng-class="{visible: singleSelect.visible}">
	<input data-filter class="single-select-filter" ng-if="singleSelect.isSmart && singleSelect.visible" ng-model="singleSelect.filterText" />
	<div class="single-select-options">
		<span check-last-callback="updateSize" ng-repeat="option in singleSelect.options | filter: singleSelect.filter | orderBy: singleSelect.sort" ng-init="option.index = $index" ng-click="selectOption(option)" class="option" ng-class="{checked: singleSelect.model == option}">
			<img ng-if="singleSelect.iconCallback && singleSelect.iconCallback(option)" ng-src="{{singleSelect.iconCallback(option)}}"/>
			<span ng-if="!(singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || option == singleSelect.aggregateOption))">{{option.name}}</span>
			<span ng-if="singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || option == singleSelect.aggregateOption)">{{singleSelect.mutateCallback(option.name)}}</span>
		</span>
	</div>
</div>