<iframe id="previewContentIframe"></iframe>
<div class="terms-preview-popup-footer">
	<button class="button blue" ng-click="copyToLive($close)">{{getMsgs('terms.copy.to.live')}}</button>
	<button class="button red" ng-click="$dismiss('cancel')">{{getMsgs('cancel')}}</button>
</div>