<div class="updateObservationLevelPopup" ng-controller="updateObservationLevelPopupCtr">
	<div class="box">
		<div class="box-body">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('observation-date')}}</span>
					<span class="table-cell">{{getMsgs('payment-date')}}</span>
					<span class="table-cell">{{getMsgs('observation-level')}}</span>
				</div>
				<div class="table-row">
 					<span class="table-cell">{{productCoupon.observationDate | date:'hh:mm dd/MM/yyyy'}}</span>
					<span class="table-cell">{{productCoupon.paymentDate | date:'hh:mm dd/MM/yyyy'}}</span>
					<span class="table-cell"><input type="text" ng-model="productCoupon.observationLevel"><button class="button blue" ng-click="updateObsLevel(productCoupon.id,productId,productCoupon.observationLevel);$close();">update</button></span>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button class="button blue" ng-click="$close()">{{getMsgs('close')}} </button>
		</div>
	</div>
</div>
