<div class="confirm-popup-message">
     {{getMsgs('user-step-verification')}}
</div>
<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close()">{{getMsgs('no')}} </button>
	<button class="button blue" ng-click="updateUserStatus();$close();">{{getMsgs('yes')}}</button>
</div>