<a ui-sref="ln.home" class="logo">
	<strong class="logo-lg">Admin</strong>
</a>
<div class="navbar navbar-static-top" ng-controller="CredentialsCtr">
	<a class="sidebar-toggle" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li class="user-menu">
				<a>{{loggedUser.firstName}} {{loggedUser.lastName}}</a>
			</li>
			<li class="logout-menu" ng-if="isLogged">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" ng-click="logout()">{{getMsgs('logout')}}</button>
				</div>
			</li>
		</ul>
	</div>
</div>