<div class="changePassword-screen" ng-controller="AdminPanelCtr">
	<h1>{{getMsgs('admin-panel')}}</h1>
	<div class="box">
    	<div class="box-body" > 
			<div class="table-row">
				<span class="table-cell"><button type="submit" class="button blue" ng-click="reloadHC()">{{getMsgs('reload-hc')}}</button></span>
			</div>
		</div>
	</div>					
</div>