<div class="adminDeposit-screen" ng-controller="AdminDepositCtr">
	<user-strip> </user-strip>
	<h1>{{getMsgs('admin-deposit')}}</h1>
	<form class="table" name="adminDepositForm" ng-submit="submitForm(adminDepositForm.$valid)" novalidate ng-show="!hide">
		<div class="box">
			<div class="box-body">
				<label class="table-row"> 
					<span class="table-cell">{{getMsgs('deposit-amount')}}:</span>
					<span class="table-cell"><input type="number" name="depositAmount" ng-model="admin.depositAmount" required valid-decimal> </span>
				</label> 
				<label class="table-row"> 
					<span class="table-cell">{{getMsgs('comments')}}:</span>
					<span class="table-cell"><textarea ng-model="admin.comments">  </textarea> </span>
				</label> 
			</div>
			<div class="box-footer">
				<div class="table-row">
					<span class="table-cell"><button type="submit" class="button blue" ng-disabled="adminDepositForm.$invalid || isClicked" ng-click="adminDeposit()">{{getMsgs('submit')}}</button></span>
				</div>
			</div>
		</div>
		{{generateRequest()}}
	</form>
</div>