<div class="transactions-screen" ng-controller="AllTransactionsCtr">
	<h1>{{getMsgs('transactions')}}</h1>
	<div class="box">
		<div class="box-sub-header">
			<ul class="stretch-list-from-to">
				<li>
					<label>
					<li>
						<label>{{getMsgs('from')}}:</label>
						</li>
						<li>
						<div class="date-holder">
							<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'from')" ng-model="filter.from" is-open="dateManager.openDates.from" enable-time="false" datepicker-options="dateManager.dateOptions" max-date="filter.to"  ng-change="updatePages()">
							<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'from')"><i class="fa fa-calendar"></i></button>
						</div>
					</label>
				</li>
				<li>
					<label>
					<li>
						<label>{{getMsgs('to')}}:</label>
						</li>
						<li>
						<div class="date-holder">
							<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'to')" ng-model="filter.to" is-open="dateManager.openDates.to" enable-time="false" datepicker-options="dateManager.dateOptions" ng-change="updatePages()">
							<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'to')"><i class="fa fa-calendar"></i></button>
						</div> 
					</label>
				</li>
				<li>
					<label>{{getMsgs('filter-by')}}:</label>
				</li>
				<li ng-init="filter.searchBy=1">
					<label>
							{{getMsgs('time-created')}}
							<input type="radio" ng-model="filter.searchBy" value="1">
					</label>
					<label>
							{{getMsgs('time-settled')}}
							<input type="radio" ng-model="filter.searchBy" value="2">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('class')}}</div>
						<single-select ng-model="filter.userClass" ng-change="updatePages()"></single-select>
					</label>
				</li>								
			</ul>
		</div>
	   <div class="box-sub-header">
			 <button type="button" class="button blue" ng-click="clicked=true;search()" ng-disabled="isSearchDisabled()">{{getMsgs('search')}}</button>
	   </div>
	   <div class="box-sub-header" >
			<ul class="stretch-list" ng-if="clicked == true">
				<li>
					<label>
						<div>{{getMsgs('id')}}</div>
						<input ng-model="filter.id" ng-change="updatePages()">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('user-id')}}</div>
						<input ng-model="filter.userId" ng-change="updatePages()">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('type')}}</div>
						<single-select ng-model="filter.transactionType" ng-change="updatePages()"></single-select>
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('status')}}</div>
						<single-select ng-model="filter.transactionStatus" ng-change="updatePages()"></single-select>
					</label>
				</li>
			</ul>
		</div>  
	   <div class="box-body" ng-if="clicked==true" ng-class = "{'loading-request' : isLoading}">
		   <div class="table">
				<div class="table-row header-row">
					<span class="table-cell">
						{{getMsgs('id')}}
					</span>
					<span class="table-cell">
						{{getMsgs('amount')}}
					</span>
					<span class="table-cell">
						{{getMsgs('created-at')}}
					</span>
					<span class="table-cell">
						{{getMsgs('settled-at')}}
					</span> 
					<span class="table-cell">
						{{getMsgs('type')}}
					</span>
					<span class="table-cell">
						{{getMsgs('status')}}
					</span>
					<span class="table-cell">
						{{getMsgs('credit/debit')}}
					</span>
					<span class="table-cell">
						{{getMsgs('comments')}}
					</span>
					<span class="table-cell">
						{{getMsgs('ip')}}
					</span>
					<span class="table-cell">
						{{getMsgs('user-id')}}
					</span>
				</div>
				<div class="table-row" ng-repeat="transaction in filtered.transactionsArr = ( transactionsArr | filter: listTransactionsFilter | orderBy:'id':true | filter: {id: filter.id}  | filter: {userId: filter.userId  }) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
	               <span class="table-cell">{{transaction.id}}</span> 
	               <span class="table-cell">{{formatAmount({amount:transaction.amount, amountOnly: true})}}</span>
	               <span class="table-cell">{{transaction.created | date:'HH:mm dd/MM/yyyy' }}</span>
	               <span class="table-cell">{{transaction.settled | date:'HH:mm dd/MM/yyyy'}}</span>
	               <span class="table-cell">{{getMsgs(transaction.type)}}</span> 
	               <span class="table-cell" ng-if="transaction.statusId != 4">{{getMsgs(transaction.status)}}</span>
	               <span class="table-cell" ng-if="transaction.statusId == 4"><button type="button" class="button blue pending" ng-click="pending(transaction.id)">{{getMsgs(transaction.status)}}</button></span>
	               <span class="table-cell">{{getMsgs(transaction.operation)}}</span>
	               <span class="table-cell">{{transaction.comments}}</span>
	               <span class="table-cell">{{transaction.ip}}</span>
	               <span class="table-cell"><a href="" ng-click="loadUser(transaction.userId)">{{transaction.userId}}</a></span>                 
	            </div>
		   </div>
		</div>
		<div class="box-footer" ng-if="clicked==true"> 
		  	<pagination model="pagination"></pagination>
		</div>						
	</div>
</div>