<div class="translations-screen" ng-controller="BulkTranslationsCtr">
	<h1>{{getMsgs('bulk-translations')}}</h1>
	<div class="box">
	   <div class="box-body"> 
	   	<div class="table">
	   		<form name="bulkTranslationsform" ng-submit="submitForm(bulkTranslationsform.$valid)" novalidate>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('action-source')}}</span>
					<single-select ng-model="filter.actionSource" required></single-select>
				</label>									  		   		
				<label class="table-row">					
					<span class="table-cell">{{getMsgs('language')}}</span>
					<span class="table-cell"><single-select ng-model="filter.language" required></span>
				</label>
				<label class="table-row">					
					<span class="table-cell">{{getMsgs('type')}}</span>
					<span class="table-cell"><single-select ng-model="filter.messageResourceTypes" required></span>
				</label>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('new-key')}}</span>
					<span class="table-cell"><input type="checkbox" ng-model="newText" ng-true-value="1" ng-false-value="0" ng-checked="newText"></span>
				</label>								
				<span><input type="file" file-model="myFile.file"/></span>	
				<div>
					<span class="table-cell"><button type="submit" class="button blue" ng-disabled="bulkTranslationsform.$invalid" ng-click="submit()" ><span>{{getMsgs('submit')}}</span></button></span>
				</div>	  		
			</form>				
	  	</div>	
	</div>		
</div>