<div class="investments-screen" ng-controller="InvestmentsCtr">
	<h1>{{getMsgs('investments')}}</h1>
	<div class="box">
		<div class="box-sub-header">
		<ul class="stretch-list-from-to">
				<li>
					<label>
					<li>
						<label>{{getMsgs('from')}}:</label>
						</li>
						<li>
						<div class="date-holder">
							<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'from')" ng-model="filter.from" is-open="dateManager.openDates.from" enable-time="false" datepicker-options="dateManager.dateOptions" max-date="filter.to"  ng-change="updatePages()">
							<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'from')"><i class="fa fa-calendar"></i></button>
						</div>
					</label>
				</li>
				<li>
					<label>
					<li>
						<label>{{getMsgs('to')}}:</label>
						</li>
						<li>
						<div class="date-holder">
							<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'to')" ng-model="filter.to" is-open="dateManager.openDates.to" enable-time="false" datepicker-options="dateManager.dateOptions" ng-change="updatePages()">
							<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'to')"><i class="fa fa-calendar"></i></button>
						</div> 
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('class')}}</div>
						<single-select ng-model="filter.userClass" ng-change="updatePages()"></single-select>
					</label>
				</li>								
			</ul>
			<button type="button" class="button blue"
	            ng-click="search();clicked=true" ng-disabled="isSearchDisabled()">{{getMsgs('search')}}
			</button>
		</div>
		<div class="box-body table-holder table-responsive" ng-class = "{'loading-request' : isLoading}" ng-if="clicked==true">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">
						{{getMsgs('id')}}
					</span>
					<span class="table-cell">
						{{getMsgs('product-id')}}
					</span>
					<span class="table-cell">
						{{getMsgs('amount')}}
					</span>
					<span class="table-cell">
						{{getMsgs('ask')}}
					</span> 
					<span class="table-cell">
						{{getMsgs('bid')}}
					</span>
					<span class="table-cell">
						{{getMsgs('user-id')}}
					</span>
					<span class="table-cell">
						{{getMsgs('type')}}
					</span>
					<span class="table-cell">
						{{getMsgs('status')}}
					</span>
					<span class="table-cell">
						{{getMsgs('time-created')}}
					</span>
					<span class="table-cell">
						{{getMsgs('cancel')}}
					</span>
				</div>
				<div class="table-row" ng-repeat="investment in filtered.investmentsArr = (investmentsArr | orderBy:'id':true | limitTo:resultsPerPage:(page-1)*resultsPerPage) track by investment.id">
					<span class="table-cell">{{investment.id}}</span> 
					<span class="table-cell">{{investment.productId}}</span>
					<span class="table-cell">{{investment.amount}}</span>
					<span class="table-cell">{{investment.ask}}</span>
					<span class="table-cell">{{investment.bid}}</span>
					<span class="table-cell"><a href="" ng-click="loadUser(investment.userId)">{{investment.userId}}</a></span>
					<span class="table-cell">{{getMsgs(investment.typeName)}}</span> 
					<span class="table-cell">{{getMsgs(investment.statusName)}}</span>
					<span class="table-cell">{{investment.created | date:'HH:mm dd/MM/yyyy'}}</span>
					<span class="table-cell"><button ng-if="investment.status==1 || investment.status==2 || investment.status==3" ng-click="cancel(investment.id)" type="button" class="button blue" ng-disabled="isCancelDisabled(investment.id)">{{getMsgs('cancel')}}</button></span>
				</div>
			</div>
		</div>
		<div class="box-footer" ng-if="clicked==true"> 
			<div> <label> {{getMsgs('general-sum-amount')}}:</label>{{sumAmount()}} </div>
			<div> <label> {{getMsgs('sum-amount-per-page')}}:</label>{{sumAmountPerPage()}}</div>
			<pagination model="pagination"></pagination>
		</div>

	</div>
</div>