<div class="issues-screen" ng-controller="IssuesCtr">
<user-strip></user-strip>
	<h1>{{getMsgs('issues')}}</h1>
	<!-- select --> 
	<div class="box" ng-if="!action">
		<div class="box-sub-header" ng-if="clicked==true">
				<ul class="stretch-list">
					<li>
						<label>
							<div>{{getMsgs('channel')}}</div>
							<single-select ng-model="filter.channelFilter" ng-change="updatePages()"></single-select>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('subject')}}</div>
							<single-select ng-model="filter.subjectFilter" ng-change="updatePages()"></single-select>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('direction')}}</div>
							<single-select ng-model="filter.directionFilter" ng-change="updatePages()"></single-select>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('reached-status')}}</div>
							<single-select ng-model="filter.reachedFilter" ng-change="updatePages()"></single-select>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('reaction')}}</div>
							<single-select ng-model="filter.reactionFilter" ng-change="updatePages()"></single-select>
						</label>
					</li>
					
					<li>
						<label>
							<div>{{getMsgs('from')}}</div>
							<div class="date-holder">
								<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'from')" ng-model="filter.from" is-open="dateManager.openDates.from" enable-time="false" datepicker-options="dateManager.dateOptions" max-date="filter.to" ng-change="updatePages()">
								<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'from')"><i class="fa fa-calendar"></i></button>
							</div>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('to')}}</div>
							<div class="date-holder">
								<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'to')" ng-model="filter.to" is-open="dateManager.openDates.to" enable-time="false" datepicker-options="dateManager.dateOptions" ng-change="updatePages()">
								<button type="button" class="button date" ng-click="dateManager.openCalendar($event, 'to')"><i class="fa fa-calendar"></i></button>
							</div>
						</label>
					</li>
					<li>
						<label>
							<div>{{getMsgs('significant-note')}}</div>
							<input type="checkbox" ng-model="filter.significantNote" ng-change="updatePages()">
						</label>
					</li>
				</ul>
		</div>
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body table-holder table-responsive" ng-if="clicked==true" ng-class = "{'loading-request' : isLoading}">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{getMsgs('time-created')}}</span>
					<span class="table-cell">{{getMsgs('channel')}}</span>
					<span class="table-cell">{{getMsgs('subject')}}</span>
					<span class="table-cell">{{getMsgs('direction')}}</span>
					<span class="table-cell">{{getMsgs('reached-status')}}</span>
					<span class="table-cell">{{getMsgs('reaction')}}</span>
					<span class="table-cell">{{getMsgs('significant-note')}}</span>
					<span class="table-cell">{{getMsgs('comments')}}</span>
					<span class="table-cell">{{getMsgs('writer-name')}}</span>
				</div>
				<div class="table-row" ng-repeat="issue in filtered.issuesArr = ( issuesArr | filter: listIssuesFilter | orderBy:'id':true ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell">{{issue.id}}</span>
					<span class="table-cell">{{issue.timeCreated | date:'HH:mm dd/MM/yyyy' }}</span>
					<span class="table-cell">{{getMsgs(issue.issueChannel)}}</span>
					<span class="table-cell">{{getMsgs(issue.issueSubject)}}</span>
					<span class="table-cell">{{issue.issueDirection}}</span>
					<span class="table-cell">{{issue.issueReachedStatus}}</span>
					<span class="table-cell">{{issue.issueReaction}}</span>
					<span class="table-cell"><input type="checkbox" ng-model="issue.significantNote" ng-disabled="true"></span>
					<span class="table-cell">{{issue.comments}}</span>
					<span class="table-cell">{{issue.writerName}}</span>
				</div>
			</div>
		</div>
		<div class="box-footer" ng-if="clicked==true">
		    <pagination model="pagination"></pagination>
		    <button type="button" class="button blue" ng-click="add()" >{{getMsgs('add-issue')}}</button>
		</div>	
	</div>
    <!-- add --> 
    <div class="box" ng-if="action =='add'">
    	<div class="box-body">
	  		<form class="table" name="issuesForm" ng-submit="submitForm(issuesForm.$valid)" novalidate>
	  			<label class="table-row">
						<span class="table-cell">{{getMsgs('channel')}}</span>
						<span class="table-cell"><single-select name="channel" ng-model="filter.channel" required></single-select></span>
						<span class="table-cell"><p ng-show="issuesForm.channel.$dirty && issuesForm.channel.$error.required" style="color:red">The field is required</p></span>
  				</label>
  				<label class="table-row">
						<span class="table-cell">{{getMsgs('subject')}}</span>
						<span class="table-cell"><single-select name="subject" ng-model="filter.subject" required></single-select></span>
						<span class="table-cell"><p ng-show="issuesForm.subject.$dirty && issuesForm.subject.$error.required" style="color:red">The field is required</p></span>
  				</label>
  				<label class="table-row">
						<span class="table-cell">{{getMsgs('comments')}}</span>
						<span class="table-cell"><textarea class="translation-value" ng-model="newIssue.comments" ng-attr-rows="{{row || 5}}" ng-focus="row=5" ng-blur="row=5" ></textarea></span>
  				</label>
  				<label class="table-row">
						<span class="table-cell">{{getMsgs('significant-note')}}</span>
						<span class="table-cell"><input type="checkbox" ng-model="newIssue.significantNote"></span>
  				</label>
  				<label class="table-row" ng-if="filter.channel.getId()==3">
						<span class="table-cell">{{getMsgs('direction')}}</span>
						<span class="table-cell"><single-select name="direction" ng-model="filter.direction" ng-required = "filter.channel.getId()==3"></single-select></span>
						<span class="table-cell"><p ng-show="issuesForm.direction.$dirty && issuesForm.direction.$error.required" style="color:red">The field is required</p></span>
  				</label>
  				<label class="table-row" ng-if="filter.channel.getId()==3">
						<span class="table-cell">{{getMsgs('reached-status')}}</span>
						<span class="table-cell"><single-select name="reached" ng-model="filter.reached" ng-required = "filter.channel.getId()==3"></single-select></span>
						<span class="table-cell"><p ng-show="issuesForm.reached.$dirty && issuesForm.reached.$error.required" style="color:red">The field is required</p></span>
  				</label>
  				<label class="table-row" ng-if="filter.channel.getId()==3">
						<span class="table-cell">{{getMsgs('reaction')}}</span>
						<span class="table-cell"><single-select name="reaction" ng-model="filter.reaction" ng-required = "filter.channel.getId()==3"></single-select></span>
						<span class="table-cell"><p ng-show="issuesForm.reaction.$dirty && issuesForm.reaction.$error.required" style="color:red">The field is required</p></span>
  				</label>
	  		</form>	
		</div>
		<div class="box-footer">
			    <button type="button" class="button blue" ng-click="addIssue(loadedUser.id)" ng-disabled="issuesForm.$invalid">{{getMsgs('add-issue')}}</button>
		</div>
		 {{generateRequest()}}
    </div>
</div>