<div class="marketing-screen" ng-controller="LandingPagesCtr">
	<h1>{{getMsgs('landing-pages')}}</h1>
	<div class="box" ng-if="!action">
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body table-holder table-responsive" ng-class = "{'loading-request' : isLoading}" ng-if="clicked==true">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell">{{getMsgs('path')}}</span>
					<span class="table-cell">{{getMsgs('writer-user-name')}}</span>
					<span class="table-cell">{{getMsgs('time-created')}}</span>
					<span class="table-cell">{{getMsgs('time-modified')}}</span>
				</div>
				<div class="table-row" ng-repeat="landingPage in filtered.landingPagesArr = ( landingPagesArr | orderBy:'name' ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell">
						<a ng-href="{{$state.href('ln.admin.landingPages.edit', { ln: language.languageCode, landingPageId: landingPage.id})}}" >
							<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
							{{landingPage.id}}
						</a>
					</span>
					<span class="table-cell">{{landingPage.name}}</span>
					<span class="table-cell">{{landingPage.path}}</span>
					<span class="table-cell">{{landingPage.writerUserName}}</span>
					<span class="table-cell">{{landingPage.timeCreated | date:'HH:mm dd/MM/yyyy'}}</span>
					<span class="table-cell">{{landingPage.timeModified | date:'HH:mm dd/MM/yyyy'}}</span>
				</div>
			</div>
			<pagination model="pagination"></pagination>
		    <button type="button" class="button blue" ng-click="add()" >{{getMsgs('add-landing-page')}}</button>
		</div>
	</div>
	<div class="box" ng-if="action =='edit'">
		<div class="box-body">
	  		<div class="table">
	  			<label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{selectedLandingPage.id}}</span>
	  			</label>
	  			<label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell"><input type="text"  ng-model="selectedLandingPage.name" no-spaces></span>
	 			 </label>
	 			 <label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('path')}}</span>
					<span class="table-cell"><input type="text"  ng-model="selectedLandingPage.path"></span>
	  			</label>
			</div>	
		</div>
	<div class="box-footer">
	   <button type="button" class="button blue" ng-click="save()" >{{getMsgs('save')}}</button>
	</div>
    </div>
    <div class="box" ng-if="action =='add'">
    	<div class="box-body">
	 		 <div class="table">
	  			<label class="table-row" ng-if="action == 'add'">
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell"><input type="text"  ng-model="newLandingPage.landingPageName" no-spaces></span>
	 			 </label>
	 			 <label class="table-row" ng-if="action == 'add'">
					<span class="table-cell">{{getMsgs('path')}}</span>
					<span class="table-cell"><input type="text"  ng-model="newLandingPage.landingPagePath"></span>
	 			 </label>
			 </div>	
		</div>
	    <div class="box-footer">
		    <button type="button" class="button blue" ng-click="addLandingPage()" >{{getMsgs('add-landing-page')}}</button>
		</div>
    </div>
</div>