<div class="productsPriority-screen">
	<h1>{{productsPriorityCtrl.getMsgs('productsPriority')}}</h1>
	<div class="box">
		<div class="box-sub-header">
			<button type="button" class="button blue ng-binding" ng-click="productsPriorityCtrl.updatePriorityClickHandler()" ng-disabled="productsPriorityCtrl.isUpdatePriorityBtnDisabled">Update priority</button>
		</div>
		<div class="box-sub-header">
			<div ui-tree="productsPriorityCtrl.treeOptions">
				<ol ui-tree-nodes ng-model="productsPriorityCtrl.priorityProducts" class="productsPriority-tree-nodes">
					<li class="priority-node priority-node-header">
						<div class="product">
							<span class="productProp">{{productsPriorityCtrl.getMsgs('product-id')}}</span>
							<span class="productProp">{{productsPriorityCtrl.getMsgs('product-type')}}</span>
							<span class="productProp">{{productsPriorityCtrl.getMsgs('market-name')}}</span>
							<span class="productProp controls">Controls</span>
						</div>
					</li>
					<li class="priority-node" ng-repeat="product in productsPriorityCtrl.priorityProducts" ng-init="product.move = 1" ui-tree-node>
						<div class="product">
							<span ui-tree-handle class="productProp">{{product.id}}</span>
							<span ui-tree-handle class="productProp">{{productsPriorityCtrl.getMsgs(product.productType.displayName)}}</span>
							<span ui-tree-handle class="productProp">{{productsPriorityCtrl.getMsgs(product.productMarkets[0].market.displayName)}}</span>
							<span class="productProp controls">
								<form name="controllForm" class="position-form" novalidate>
									<input name="moveInput" class="move-input" type="number" min="1" max="{{productsPriorityCtrl.getMaxMove($index, productsPriorityCtrl.priorityProducts.length)}}" ng-model="product.move" required>
									<button type="button" class="move-btn" ng-disabled="$first || controllForm.$invalid || product.move > $index" ng-click="productsPriorityCtrl.moveProduct($index, -product.move)">
										<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
									</button>
									<button type="button" class="move-btn" ng-disabled="$last || controllForm.$invalid || product.move > productsPriorityCtrl.priorityProducts.length - ($index + 1)" ng-click="productsPriorityCtrl.moveProduct($index, product.move)">
										<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
									</button>
								</form>
							</span>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>