<div class="products-screen" ng-controller="ProductsCtr">
	<h1>{{getMsgs('products')}}</h1>
	
	<div class="products-section box" ng-if="!action">
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="add()">{{getMsgs('add')}}</button>
		</div>
	</div>
	<div class="products-section box" ng-class="{add: action == 'add', edit: action == 'edit'}" ng-if="action == 'add' || action == 'edit'">
		<h1 ng-if="action == 'add'">{{getMsgs('add-product')}}</h1>
		<h1 ng-if="action == 'edit'">{{getMsgs('edit-product')}}</h1>
		
		<form>
			<div class="box-body">
				<div class="table main-table" ng-if="action == 'add'">
					<label class="table-row">
						<span class="table-cell">{{getMsgs('product-category')}}</span>
						<span class="table-cell"><single-select ng-model="filter.productCategory"></single-select></span>
					</label>
					<label class="table-row" ng-if="filter.productCategory.getId() > 0">
						<span class="table-cell">{{getMsgs('product-type')}}</span>
						<span class="table-cell"><single-select ng-model="filter.productType"></single-select></span>
					</label>
				</div>
				<div class="product-edit-main" ng-if="!(action == 'add' && (filter.productCategory.getId() <= 0 || filter.productType.getId() <= 0))">
					<div class="column-one-half">
						<div class="table main-table">
							<label class="table-row" ng-if="action == 'edit'">
								<span class="table-cell">{{getMsgs('id')}}</span>
								<span class="table-cell">{{selectedProduct.id}}</span>
							</label>
							<label class="table-row" ng-if="action == 'edit'">
								<span class="table-cell">{{getMsgs('product-type')}}</span>
								<span class="table-cell">{{getMsgs(selectedProduct.productType.displayName)}}</span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('markets')}}</span>
								<span class="table-cell"><single-select ng-model="filter.markets"></single-select></span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('maturity')}}</span>
								<span class="table-cell"><single-select ng-model="filter.productMaturity"></single-select></span>
							</label>							
							<label class="table-row">
								<span class="table-cell">{{getMsgs('issue-price')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.issuePrice" maxlength="6">%</span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('currency')}}</span>
								<span class="table-cell"><single-select ng-model="filter.currency"></single-select></span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('denomination')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.denomination" maxlength="10">{{getMsgs(settings.currencies[filter.currency.getId()].currencyName)}}</span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('coupon')">
								<span class="table-cell">{{getMsgs('coupon-frequency')}}</span>
								<span class="table-cell"><single-select ng-model="filter.productCouponFrequency"></single-select></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('dayCountConvention')">
								<span class="table-cell">{{getMsgs('day-count-convention-id')}}</span>
								<span class="table-cell"><single-select ng-model="filter.dayCountConvention"></single-select></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('maxYield')">
								<span class="table-cell">{{getMsgs('max-yield')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.maxYield" maxlength="6"></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('maxYieldPA')">
								<span class="table-cell">{{getMsgs('max-yield-pa')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.maxYieldPA" maxlength="6"></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('capitalProtection')">
								<span class="table-cell">{{getMsgs('level-of-protection')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.levelOfProtection" maxlength="6">%</span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('participation')">
								<span class="table-cell">{{getMsgs('level-of-participation')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.levelOfParticipation" maxlength="6"></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('distanceToBarrier')">
								<span class="table-cell">{{getMsgs('barrier-type')}}</span>
								<span class="table-cell"><single-select ng-model="filter.productBarrierType"></single-select></span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('distanceToBarrier')">
								<span class="table-cell">{{getMsgs('barrier-level')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.productBarrier.barrierLevel" maxlength="60">%</span>
							</label>
							<div class="table-row" ng-if="isFieldVisible('distanceToBarrier')">
								<span class="table-cell">{{getMsgs('barrier-start')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'barrierStart')" ng-model="selectedProduct.productBarrier.barrierStart" is-open="dateManager.openDates.barrierStart" enable-time="false" datepicker-options="dateManager.dateOptions" max-date="selectedProduct.productBarrier.barrierEnd" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'barrierStart')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row" ng-if="isFieldVisible('distanceToBarrier')">
								<span class="table-cell">{{getMsgs('barrier-end')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'barrierEnd')" ng-model="selectedProduct.productBarrier.barrierEnd" is-open="dateManager.openDates.barrierEnd" enable-time="false" datepicker-options="dateManager.dateOptions" min-date="selectedProduct.productBarrier.barrierStart" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'barrierEnd')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<label class="table-row" ng-if="isFieldVisible('strikeLevel')">
								<span class="table-cell">{{getMsgs('strike-level')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.strikeLevel" maxlength="6">%</span>
							</label>
							<label class="table-row" ng-if="isFieldVisible('bonusPrecentage')">
								<span class="table-cell">{{getMsgs('bonus-level')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.bonusLevel" maxlength="6"></span>
							</label>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('subscription-start-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'subscriptionStartDate')" ng-model="selectedProduct.subscriptionStartDate" is-open="dateManager.openDates.subscriptionStartDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'subscriptionStartDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('subscription-end-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'subscriptionEndDate')" ng-model="selectedProduct.subscriptionEndDate" is-open="dateManager.openDates.subscriptionEndDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'subscriptionEndDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('initial-fixing-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'initialFixingDate')" ng-model="selectedProduct.initialFixingDate" is-open="dateManager.openDates.initialFixingDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'initialFixingDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('issue-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'issueDate')" ng-model="selectedProduct.issueDate" is-open="dateManager.openDates.issueDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'issueDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('first-exchange-trading-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'firstExchangeTradingDate')" ng-model="selectedProduct.firstExchangeTradingDate" is-open="dateManager.openDates.firstExchangeTradingDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'firstExchangeTradingDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('last-trading-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'lastTradingDate')" ng-model="selectedProduct.lastTradingDate" is-open="dateManager.openDates.lastTradingDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'lastTradingDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('final-fixing-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'finalFixingDate')" ng-model="selectedProduct.finalFixingDate" is-open="dateManager.openDates.finalFixingDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'finalFixingDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<div class="table-row">
								<span class="table-cell">{{getMsgs('redemption-date')}}</span>
								<span class="table-cell">
									<div class="date-holder">
										<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'redemptionDate')" ng-model="selectedProduct.redemptionDate" is-open="dateManager.openDates.redemptionDate" enable-time="false" datepicker-options="dateManager.dateOptions" ng-model-options="{timezone: 'utc'}">
										<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'redemptionDate')"><i class="fa fa-calendar"></i></button>
									</div>
								</span>
							</div>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('quanto')}}</span>
								<span class="table-cell"><input type="checkbox" ng-model="selectedProduct.quanto"></span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('product-insurance-type')}}</span>
								<span class="table-cell"><single-select ng-model="filter.productInsuranceType"></single-select></span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('bond-floor-atissuance')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.bondFloorAtissuance" maxlength="60">%</span>
							</label>
							<label class="table-row">
								<span class="table-cell">{{getMsgs('issue-size')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.issueSize" maxlength="20">{{getMsgs(settings.currencies[filter.currency.getId()].currencyName)}}</span>
							</label>
							
							<label class="table-row" ng-if="isFieldVisible('capLevel')">
								<span class="table-cell">{{getMsgs('cap-level')}}</span>
								<span class="table-cell"><input ng-model="selectedProduct.capLevel" maxlength="60">%</span>
							</label>
							
							<div class="table-row" ng-if="isFieldVisible('coupon')">
								<span class="table-cell">{{getMsgs('product-coupons')}}</span>
								<span class="table-cell">
									<div data-ui-tree="treeOptions" id="tree-root" class="angular-ui-tree">
										<div ui-tree-nodes="" ng-model="selectedProduct.productCoupons" class="angular-ui-tree-nodes">
											<div ng-repeat="coupon in selectedProduct.productCoupons" class="product-coupon multiple-block" ui-tree-node class="angular-ui-tree-node">
												<button type="button" class="button remove" ng-if="action != 'edit'" ng-click="removeItemFromArr(selectedProduct.productCoupons, $index)" title="{{getMsgs('remove')}}">
													<i class="fa fa-remove"></i>
												</button>
												<div class="table">
													<div class="table-row">
														<span class="table-cell">{{getMsgs('observation-date')}}</span>
														<span class="table-cell">
															<div class="date-holder">
																<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'couponObservationDate' + $index)" ng-model="coupon.observationDate" is-open="dateManager.openDates['couponObservationDate' + $index]" enable-time="false" datepicker-options="dateManager.dateOptions" datepicker-timezone />
																<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'couponObservationDate' + $index)"><i class="fa fa-calendar"></i></button>
															</div>
														</span>
													</div>
													<div class="table-row">
														<span class="table-cell">{{getMsgs('payment-date')}}</span>
														<span class="table-cell">
															<div class="date-holder">
																<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'couponPaymentDate' + $index)" ng-model="coupon.paymentDate" is-open="dateManager.openDates['couponPaymentDate' + $index]" enable-time="false" datepicker-options="dateManager.dateOptions" datepicker-timezone />
																<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'couponPaymentDate' + $index)"><i class="fa fa-calendar"></i></button>
															</div>
														</span>
													</div>
													<div class="table-row">
														<span class="table-cell">{{getMsgs('trigger-level')}}</span>
														<span class="table-cell"><input ng-model="coupon.triggerLevel" maxlength="60">%</span>
													</div>
													<div class="table-row">
														<span class="table-cell">{{getMsgs('pay-rate')}}</span>
														<span class="table-cell"><input ng-model="coupon.payRate" maxlength="60">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="button add" ng-disabled="selectedProduct.productCoupons.length > 0" ng-click="addCoupon()" title="{{getMsgs('add')}}">
										<i class="fa fa-plus"></i>{{getMsgs('add')}}
									</button>
								</span>
							</div>
							
							<div class="table-row">
								<span class="table-cell">{{getMsgs('product-autocalls')}}</span>
								<span class="table-cell">
									<div data-ui-tree="treeOptions" id="tree-root" class="angular-ui-tree">
										<div ui-tree-nodes="" ng-model="selectedProduct.productAutocalls" class="angular-ui-tree-nodes">
											<div ng-repeat="autocall in selectedProduct.productAutocalls" class="product-autocall multiple-block" ui-tree-node class="angular-ui-tree-node">
												<button type="button" class="button remove" ng-if="action != 'edit'" ng-click="removeItemFromArr(selectedProduct.productAutocalls, $index)" title="{{getMsgs('remove')}}">
													<i class="fa fa-remove"></i>
												</button>
												<div class="table">
													<div class="table-row">
														<span class="table-cell">{{getMsgs('examination-date')}}</span>
														<span class="table-cell">
															<div class="date-holder">
																<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'autocallExaminationDate' + $index)" ng-model="autocall.examinationDate" is-open="dateManager.openDates['autocallExaminationDate' + $index]" enable-time="false" datepicker-options="dateManager.dateOptions" datepicker-timezone />
																<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'autocallExaminationDate' + $index)"><i class="fa fa-calendar"></i></button>
															</div>
														</span>
													</div>
													<div class="table-row">
														<span class="table-cell">{{getMsgs('condition')}}</span>
														<span class="table-cell"><input ng-model="autocall.condition">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="button add" ng-click="addAutocall()" title="{{getMsgs('add')}}">
										<i class="fa fa-plus"></i>{{getMsgs('add')}}
									</button>
								</span>
							</div>
							
							<div class="table-row">
								<span class="table-cell">{{getMsgs('product-callables')}}</span>
								<span class="table-cell">
									<div data-ui-tree="treeOptions" id="tree-root" class="angular-ui-tree">
										<div ui-tree-nodes="" ng-model="selectedProduct.productCallables" class="angular-ui-tree-nodes">
											<div ng-repeat="callable in selectedProduct.productCallables" class="product-callable multiple-block" ui-tree-node class="angular-ui-tree-node">
												<button type="button" class="button remove" ng-if="action != 'edit'" ng-click="removeItemFromArr(selectedProduct.productCallables, $index)" title="{{getMsgs('remove')}}">
													<i class="fa fa-remove"></i>
												</button>
												<div class="table">
													<div class="table-row">
														<span class="table-cell">{{getMsgs('examination-date')}}</span>
														<span class="table-cell">
															<div class="date-holder">
																<input type="text" readonly="readonly" onkeypress="return false;" datetime-picker="{{dateManager.format}}" ng-click="dateManager.openCalendar($event, 'callableExaminationDate' + $index)" ng-model="callable.examinationDate" is-open="dateManager.openDates['callableExaminationDate' + $index]" enable-time="false" datepicker-options="dateManager.dateOptions" datepicker-timezone />
																<button type="button" class="btn btn-default" ng-click="dateManager.openCalendar($event, 'callableExaminationDate' + $index)"><i class="fa fa-calendar"></i></button>
															</div>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="button add" ng-click="addCallable()" title="{{getMsgs('add')}}">
										<i class="fa fa-plus"></i>{{getMsgs('add')}}
									</button>
								</span>
							</div>
							
							<div class="table-row">
								<span class="table-cell">{{getMsgs('product-simulation')}}</span>
								<span class="table-cell">
									<div data-ui-tree="treeOptions" id="tree-root" class="angular-ui-tree">
										<div ui-tree-nodes="" ng-model="selectedProduct.productSimulation" class="angular-ui-tree-nodes">
											<div ng-repeat="simulation in selectedProduct.productSimulation" class="product-simulation multiple-block" ui-tree-node class="angular-ui-tree-node">
												<div ui-tree-handle class="move-handle tree-node tree-node-content angular-ui-tree-handle">
													<i class="fa fa-arrows"></i>
												</div>
												<button type="button" class="button remove" ng-if="action != 'edit'" ng-click="removeItemFromArr(selectedProduct.productSimulation, $index)" title="{{getMsgs('remove')}}">
													<i class="fa fa-remove"></i>
												</button>
												<div class="table">
													<div class="table-row">
														<span class="table-cell">{{getMsgs('final-fixing-level')}}</span>
														<span class="table-cell"><input ng-model="simulation.finalFixingLevel" maxlength="60">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="button add" ng-click="addSimulation()" title="{{getMsgs('add')}}">
										<i class="fa fa-plus"></i>{{getMsgs('add')}}
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<button type="button" class="button blue" ng-click="insertProductFull()">{{getMsgs('save')}}</button>
			</div>
		</form>
		
		<hr>
		Request for the server:
		<hr>
		{{generateInsertRequest()}}
		
	</div>
</div>