<div class="regulation-screen" ng-controller="RegulationCtr">
	<user-strip> </user-strip>
   <h1>{{getMsgs('regulation')}}</h1>
      <div class="box">
         <div class="box-body" ng-class = "{'loading-request' : isLoading}">
         <div class="table">
            <label class="table-row">
		            <span class="table-cell">{{getMsgs('user-step')}}:</span>
		            <span class="table-cell"> {{getMsgs(userStep)}} </span>
		            <span class="table-cell" ng-if="userStepId==4"><button type="button" class="button blue" ng-click="userStatus()">{{getMsgs('approve')}}</button></span>
            </label> 
            <label class="table-row"> 
		            <span class="table-cell">{{getMsgs('questionnaire-status')}}:</span>
		            <span class="table-cell"> {{getMsgs(questStatus)}} </span>
		            <span class="table-cell" ng-if="questStatusId==1 || questStatusId==4"><button type="button" class="button blue" ng-click="questionnaireStatus()">{{getMsgs('fitting-after-training')}}</button></span>
            </label> 
            </div>
         </div>
      </div>
</div>