<div class="changePassword-screen" ng-controller="TemplatesCtr">
	<user-strip> </user-strip>
   <h1>{{getMsgs('templates')}}</h1>
   <form class="table" name="templatesForm" ng-submit="submitForm(templatesForm.$valid)" novalidate ng-show="!hide">
      <div class="box">
         <div class="box-body" >
			<label class="table-row">
				<span class="table-cell">{{getMsgs('choose-templates')}}</span> 					
				<single-select ng-model="filter.emailActions" ng-change="onCategoryChange()"  required></single-select>
			</label>
			<label class="table-row" ng-show="table">
				<span class="table-cell">{{getMsgs('id')}}</span> 					
				<single-select ng-model="filter.table" ng-required="tableRequired()"></single-select>
			</label>
			<label class="table-row">
				<span class="table-cell">{{getMsgs('send-to')}}</span> 					
				<single-select ng-model="filter.emailTo" required></single-select>
			</label>
			
         </div>
         <div class = "box-footer">
        	 <div class="table-row">
                    <span class="table-cell"><button type="submit" class="button blue" ng-click="send()" ng-disabled="templatesForm.$invalid">{{getMsgs('send')}}</button></span>
        	 </div>
         </div>
      </div>
   </form>
</div>