<div class="translations-screen" ng-controller="UploadContactsCtr">
	<h1>{{getMsgs('upload-contacts')}}</h1>
	<div class="box">
	   <div class="box-body"> 
	   	<div class="table">
	   		<form name="uploadContactsForm" ng-submit="submitForm(uploadContactsForm.$valid)" novalidate>
				<span><input type="file" file-model="myFile.file"/></span>	
				<div>
					<span class="table-cell"><button type="submit" class="button blue" ng-disabled="uploadContactsForm.$invalid" ng-click="submit()" ><span>{{getMsgs('submit')}}</span></button></span>
				</div>	  		
			</form>				
	  	</div>	
	</div>		
</div>