<div class="transactions-screen" ng-controller="AdvancedSearchUserCtr">
	<h1>{{getMsgs('advanced-search-user')}}</h1>
	<div class="box">
		<div class="box-sub-header">
			<ul class="stretch-list">
				<li>
					<label>
						<div>{{getMsgs('id')}}</div>
						<input type="number" ng-model="filter.id" ng-change="updatePages()">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('first-name')}}</div>
						<input ng-model="filter.firstName" ng-change="updatePages()">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('last-name')}}</div>
						<input ng-model="filter.lastName" ng-change="updatePages()">
					</label>
				</li>				
				<li>
					<label>
						<div>{{getMsgs('email')}}</div>
						<input ng-model="filter.email" ng-change="updatePages()">
					</label>
				</li>
				<li>
					<label>
						<div>{{getMsgs('mobile-phone')}}</div>
						<input ng-model="filter.mobilePhone" ng-change="updatePages()">
					</label>
				</li>				
				<li>
					<label>
						<div>{{getMsgs('class')}}</div>
						<single-select ng-model="filter.userClass" ng-change="updatePages()"></single-select>
					</label>
				</li>				
				<!-- li>
					<label>
						<div>{{getMsgs('country')}}</div>
						<single-select ng-model="filter.country" ng-change="updatePages()"></single-select>
					</label>
				</li -->
			</ul>
		</div> 
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true" 
					ng-disabled="isSearchDisabled() || (!filter.email && !filter.mobilePhone && !filter.lastName && !filter.firstName && !filter.id)">{{getMsgs('search')}}</button>
		</div>
		</div>
		<div class="box" ng-if="clicked == true">
		<div class="box-body table-holder table-responsive" ng-class = "{'loading-request' : isLoading}">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">
						{{getMsgs('id')}}
					</span>
					<span class="table-cell">
						{{getMsgs('first-name')}}
					</span>
					<span class="table-cell">
						{{getMsgs('last-name')}}
					</span>					
					<span class="table-cell">
						{{getMsgs('mobile-phone')}}
					</span>
					<span class="table-cell">
						{{getMsgs('register-date')}}
					</span>															
					<span class="table-cell">
						{{getMsgs('country-by-user')}}
					</span>
					<span class="table-cell">
						{{getMsgs('country-by-phone')}}
					</span>					
					<span class="table-cell">
						{{getMsgs('email')}}
					</span>
				</div>
				<div class="table-row" ng-repeat="user in filtered.usersArr = ( usersArr | orderBy:'id':true ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell"><a href="" ng-click="loadUser(user.id)">{{user.id}}</a></span></span> 
					<span class="table-cell">{{user.firstName}}</span> 
					<span class="table-cell">{{user.lastName}}</span>	
					<span class="table-cell">{{user.mobilePhone}}</span>
					<span class="table-cell">{{user.timeCreated | date:'HH:mm dd/MM/yyyy' }}</span>
					<span class="table-cell">{{getMsgs(user.countryUser)}}</span> 
					<span class="table-cell">{{getMsgs(user.countryPrefix)}}</span>
					<span class="table-cell">{{user.email}}</span>					
				</div>
			</div>
		</div>
		<div class="box-footer">
			<pagination model="pagination"></pagination>
		</div>
	</div>
</div>