<div class="marketing-screen" ng-controller="writersCtr">
	<h1>{{getMsgs('writers')}}</h1>
	<div class="box" ng-if="!action">
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body"  ng-class = "{'loading-request' : isLoading}" ng-if="clicked==true">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{getMsgs('first-name')}}</span>
					<span class="table-cell">{{getMsgs('last-name')}}</span>
					<span class="table-cell">{{getMsgs('login-username')}}</span>
					<span class="table-cell">{{getMsgs('email')}}</span>
					<span class="table-cell">{{getMsgs('is-active')}}</span>
					<span class="table-cell">{{getMsgs('comments')}}</span>
				</div>
				<div class="table-row" ng-repeat="writer in filtered.writerArr = ( writerArr | orderBy:'id': true ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell">
						<a ng-href="{{$state.href('ln.admin.writers.edit', {id: writer.id})}}" >
							<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
							{{writer.id}}
						</a>
					</span>
					<span class="table-cell">{{writer.firstName}}</span>
					<span class="table-cell">{{writer.lastName}}</span>																				
					<span class="table-cell">{{writer.userName}}</span>					
					<span class="table-cell">{{writer.email}}</span>					
					<span class="table-cell"><input type="checkbox" ng-model="writer.active" ng-true-value="true" ng-false-value="false" ng-disabled="true"></span>
					<span class="table-cell">{{writer.comments}}</span>					
				</div>
			</div>
			<pagination model="pagination"></pagination>
		    <button type="button" class="button blue" ng-click="add()" >{{getMsgs('add')}}</button>
		</div>
	</div>
	<div class="box" ng-if="action =='edit'">
	  	<div class="box-body">
	  		<div class="table">
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('id')}}</span>
							<span class="table-cell">{{selectedWriter.id}}</span>
	  				</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('first-name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedWriter.firstName"></span>
	 				</label> 
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('last-name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedWriter.lastName"></span>
	 			 	</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('login-username')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedWriter.userName"></span>
	 			 	</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('email')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedWriter.email"></span>
	  				</label>
					<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('is-active')}}</span>
							<span class="table-cell"><input type="checkbox" ng-model="selectedWriter.active" ng-true-value="true" ng-false-value="false"></span>
	  				</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('group')}}</span>
							<span class="table-cell"><single-select ng-model="filter.writerGroups"></single-select></span>
	  				</label>	  					  				
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('comments')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedWriter.comments"></span>
	  				</label>	  				
	  		</div>
		</div>
		<div class="box-footer">
	   			<button type="button" class="button blue" ng-click="save()" >{{getMsgs('save')}}</button>
		</div>
	</div>
    <form class="table" name="addWriterForm" ng-submit="submitForm(addWriterForm.$valid)" novalidate ng-if="action =='add'"> 
   		<div class="box" ng-if="action =='add'">
   			<div class="box-body"> 
  				<div class="table">
 					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('first-name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.firstName" required></span>
  					</label>
  					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('last-name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.lastName" required></span>
  					</label>
  					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('login-username')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.userName" required></span>
   					</label>
   					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('email')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.email" required></span>
   					</label>
					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('is-active')}}</span>
							<span class="table-cell"><input type="checkbox" ng-model="newWriter.active" ng-true-value="true" ng-false-value="false"></span>
	  				</label>
   					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('password')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.password" required></span>
   					</label>
   					<label class="table-row" ng-if="action == 'add'">
   						<span class="table-cell">{{getMsgs('group')}}</span> 					
   						<single-select ng-model="filter.writerGroups" ng-change="updatePages()" ng-if="action == 'add'" required></single-select>
   					</label>   										   					   						  					  				   					
   					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('comments')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newWriter.comments"></span>
   					</label>     
  				</div>	
			</div>
			<div class="box-footer">
	    			<button type="button" class="button blue" ng-click="addWriter()" ng-disabled="addWriterForm.$invalid">{{getMsgs('add')}}</button> 
			</div>
   		</div>
   	</form>
</div>